<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6702.0" multilingual="True">
	<cultures>
		<add culture="bg" uiCulture="bg" key="bulgarian-bg" />
	</cultures>
</resourcesConfig>