<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6702.0" authCookieName=".SFAUTH-Zamunda" rolesCookieName=".SFROLES-Zamunda" validationKey="BA61A3B5B202CC1AB2E45AAB7FF4F60E2C55D8C1AE016813A98AF4C6B953C6A9264E9853C8D8A0ECA6A6ACF4DEE197E1F6457283EB696F6D5CCE7F0D960B444B" decryptionKey="9AD9E64C2136FFE4BDB28A898CAD4EAE28819D046459B185D94C18F83C38552B" loggingCookieName=".SFLOG-Zamunda">
	<securityTokenIssuers>
		<add key="F94F3C163610CB18D1631A728F9D4D0B23F187DCFB12BD085737DAC92044BC78" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="F94F3C163610CB18D1631A728F9D4D0B23F187DCFB12BD085737DAC92044BC78" realm="http://localhost" />
	</relyingParties>
</securityConfig>